torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
mmcv==1.6.0
matplotlib
argparse
lpips
plyfile
imageio-ffmpeg
tqdm
open3d
imageio
trimesh
scipy
albumentations==0.5.1 --no-binary=imgaug,albumentations
ray>=1.0.1
einops==0.3.0
kornia==0.4.1
loguru==0.5.3
yacs>=0.1.8
autopep8
pylint
ipython
jupyterlab
matplotlib
h5py
pytorch-lightning==1.3.5
loguru
joblib>=1.0.1
torchmetrics==0.4
pyglet==1.5.27
pyrender==0.1.45